div.page-goes-here {
  display: -webkit-flex;
  flex-direction: row;
  margin: 60px 25px 0px;
  align-self: center;
  max-width: 100%;
  div.textArea {
    max-width: 560px;
    text-align: justify;
    margin-right: 25px;
  }
  .youtube {
    max-width: 100%;
    border: none;
  }
}

@media (max-width: 879px) {
  div.page-goes-here {
    -webkit-flex-direction: column;
    div.textArea {
      width: 100%;
    }
    img.theBand {
      width: 100%;
      height: auto;
      max-width: none;
    }
  }
}