html {
  background: url(https://i.imgur.com/25o7wqP.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  div.mainContainer {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    div.splash {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      align-items: center;
      height: 100vh;
      justify-content: flex-end;
      p.downArrow {
        font-size: 80px;
        color: white;
      }
    }
    div.contentArea {
      background-color: white;
      min-height: 100vh;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      width: 100%;
      h1#title {
        align-self: center;
        font-size: 50px;
      }
      div.navigation {
        -webkit-justify-content: space-evenly;
        display: -webkit-flex;
        -webkit-flex-direction: row;
      }
      div.page-goes-here {
        display: -webkit-flex;
        margin: 60px 40px 0px 40px;
        align-self: center;
        align-items: center;
        max-width: 100%;
        overflow-x: scroll;
        div.textArea {
          display: -webkit-flex;
          -webkit-flex-direction: column;
          width: 300px;
          text-align: justify;
          overflow-x: scroll;
        }
        div.exampleImage {
          margin-left: 20px;
          img.theBand {
            width: 600px;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 879px) {
  html {
    div.mainContainer {
      div.splash {
        display: none;
      }
      div.contentArea {
        div.page-goes-here {
          flex-direction: column;
          max-width: 100%;
          div.textArea {
            width: auto;
            max-width: 100%;

          }
        }
      }
    }
  }
}
