html {
  div.mainContainer {
    div.contentArea {
      div.media-page-goes-here {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        margin: 60px 25px 0px;
        align-self: center;
        max-width: 100%;
        justify-content: center;
        .soundCloud {
          display: flex;
          border: none;
          width: 900px;
          max-width: 100%;
        }
        p {
          max-width: 900px;
        }
      }
    }
  }
}