html {
  div.mainContainer {
    div.contentArea {
      div.page-goes-here {
        justify-content: center;
        display: flex;
        flex-direction: row;
        div.centeringDiv {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p.mediaForthcoming {
            text-decoration: italic;
          }
          img.legg {
            width: 430px;
            max-width: 100%;
            height: 100%;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 879px) {
  html {
    div.mainContainer {
      div.contentArea {
        div.page-goes-here {
          div.centeringDiv {
            p.mediaForthcoming {
            }
            img.legg {
              //display: none;
            }
          }
        }
      }
    }
  }
}