div.navigation {
  -webkit-justify-content: space-evenly;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

// @media (max-width: 879px) {
//   div.outerNavDiv {
//     display: table;
//     position: absolute;
//     width: 100%;
//     div.middleNavDiv {
//       display: table-cell;
//       vertical-align: middle;
//       div.navigation {
//         margin-left: auto;
//         margin-right: auto;
//         width: 100%;
//       }
//     }
//   }
// }

