html {
  div.mainContainer {
    div.contentArea {
      div.page-goes-here.personnel {
        margin: 60px 0 0 0;
        flex-direction: column;
        max-width: 100%;
        div.textArea {
          h2 {
            margin-left: 25px;
          }
          div.bio {
            display: flex;
            flex-direction: row;
            margin: 0 25px 25px 25px;
            align-items: center;
            img.bioImage {
              width: 300px;
            }
            div.bioText {
              width: 675px;
              text-align: justify;
              p#jamesOwl {
                margin-top: -100px;
              }
            }
            div.space25px {
              width: 25px;
            }
          }
          div.bio.mirror {
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}

@media (max-width: 879px) {
  html {
    div.mainContainer {
      div.contentArea {
        div.page-goes-here.personnel {
          max-width: 100%;
          div.textArea {
            div.bio {
              margin: 50px 25px;
              flex-direction: column;
              div.bioText {
                max-width: 100%;
                p#jamesOwl {
                  width: 100%;
                }
              }
              div.space25px {
                width: 0;
              }
            }
            div.bio.mirror {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}